<!DOCTYPE html>
<html>
<head>
    <title>House Rent zagoranski / Admin </title>
    <link rel="stylesheet" href="css/tailwind.css" type="text/css">
    <style>
        .ProseMirror{
          width: 100% !important;
          height: 100% !important;
          padding: 2px !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $('.loginButton').click((event) => {
                event.preventDefault();
                let data = $(".loginForm");
                $.ajax({
                    method:"POST",
                    url:"/login",
                    data: data.serialize(),
                    processData: true,
                    "content-type": "application/json",
                    dataType: "json",
                    success: (result) => {
                        $('.dashboardNotification').fadeIn();
                        $('.systemMessage').html(result.message);
                        setTimeout(() => {
                            $('.dashboardNotification').fadeOut();
                            $('.systemMessage').html("");
                            window.location.href = "http://localhost:3000/dashboard";
                        },4000);
                    },
                })
            });
        });
    </script>
</head>
<body class="bg-gray-50">
    <div aria-live="assertive" class="fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start dashboardNotification  hidden">
        <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
          <div class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="p-4">
              <div class="flex items-start">
                <div class="flex-shrink-0">
                  <!-- Heroicon name: outline/check-circle -->
                  <svg class="h-6 w-6 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                  <p class="text-sm font-medium text-gray-900">Obvestilo</p>
                  <p class="mt-1 text-sm text-gray-500 systemMessage"></p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                  <button type="button" class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="sr-only">Close</span>
                    <!-- Heroicon name: solid/x -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-40 w-60" src="images/logos/laura2.png" alt="Workflow"/>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Prijavite se v časovnico </h2>
        </div>
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form  class="space-y-6 loginForm">
                    <div>
                        <label htmlFor="email" className="block text-sm font-medium text-gray-700"> E - Naslov</label>
                        <div class="mt-1">
                            <input id="email" name="email" type="email" autoComplete="email" required
                                   class="email_adress appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                        </div>
                        <div class="py-2 text-red-500 font-bold hidden" id="error-output-email"></div>
                    </div>
                    <div>
                        <label htmlFor="password" class="block text-sm font-medium text-gray-700"> Password </label>
                        <div class="mt-1">
                            <input id="password" name="password" type="password" autoComplete="current-password" required
                                   class="user_password appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                        </div>
                        <div class="py-2 text-red-500 font-bold hidden" id="error-output-password"></div>
                    </div>
                    <button type="button" class="loginButton w-full text-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Prijava
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>